<h3>数値管理</h3>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <th class="col">月間予算</th>
      <td class="col"><%= @desc_data.latest_budget %>円</td>
    </tr>
    <tr>
      <th class="col">月間売上</th>
      <td class="col"><%= current_user.managemants.total_sales %>円</td>
    </tr>
    <tr>
      <th class="col"><%= @desc_data.latest_result_date %>売上</th>
      <td class="col"><%= @desc_data.pluck(:result).first.to_i %>円</td>
    </tr>
    <tr>
      <th class="col">日割予算</th>
      <td class="col"><%= @daily_budget %>円</td>
    </tr>
    <tr>
      <th class="col">達成率</th>
      <td class="col"><%= current_user.managemants.total_sales / @desc_data.latest_budget * 100 rescue 0 %>％</td>
    </tr>
  </tbody>
</table>