<h3>- 数値管理 -</h3>
<div class="progress_rate">
  <p>進捗率</p>
  <p>
    <%= current_user.managemants.progress_rate %>%
  </p>
  <p>
    <% if current_user.managemants.progress_rate >= 100 %>
      <i class="fa fa-smile-o smile_red"></i>
    <% elsif current_user.managemants.progress_rate >= 80 %>
      <i class="fa fa-meh-o meh_yellow"></i>
    <% else %>
      <i class="fa fa-frown-o frown_blue"></i>
    <% end %>
  </p>
</div>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <th class="col">月間予算</th>
      <td class="col"><%= @desc_data.latest_budget %>円</td>
    </tr>
    <tr>
      <th class="col">月間売上</th>
      <td class="col"><%= current_user.managemants.total_sales %>円</td>
    </tr>
    <tr>
      <th class="col"><%= @desc_data.latest_result_date %>売上</th>
      <td class="col"><%= @desc_data.pluck(:result).first.to_i %>円</td>
    </tr>
    <tr>
      <th class="col">日割予算</th>
      <td class="col">
        <% if current_user.managemants.daily_budget == 0 %>
          0円
        <% elsif current_user.managemants.daily_budget > 0 %>
          <%= current_user.managemants.daily_budget %>円
        <% else %>
          予算達成!!
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="col">月間予算達成率</th>
      <td class="col">
      <% if @desc_data.latest_budget > 0 %>
        <%= (current_user.managemants.total_sales / @desc_data.latest_budget.to_f * 100 ).round(1) %>％
      <% end %>
      </td>
    </tr>
  </tbody>
</table>