<%= search_form_for @q do |f| %>
  <%= f.label :result_date_gteq, "期間指定検索" %>
  <%= f.date_field :result_date_gteq, {class: "form-control bootstrap-date"} %> 〜
  <%= f.date_field :result_date_lteq, {class: "form-control bootstrap-date"} %>
  <span><%= f.submit '検索', class: "btn btn-primary " %></span>
<% end %>
