<% provide(:title, '店舗売上実績')%>
<h1><%= current_user.name %>さんの売上実績</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="managamant_form">
      <%= render 'managemant_form' %>
    </section>
    <section class="numerical_management">
      <%= render 'numerical_managemant' %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="search_form">
      <%= render 'search_form' %>
    </div>
    <div class="chart">
      <h3>- 売上グラフ -</h3>
      <%= column_chart @managemants.chart_date, xtitle: "日付", ytitle: "売上(円)", width: "600px", height: "200px" %>
    </div>
    <div class="numerical_index">
      <h3>- 数値一覧 -</h3>
      <%= render 'managemant', managemants: @managemants.search %>
      <%= will_paginate @managemants, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
  </div>
</div>
