<% provide(:title, '店舗売上実績')%>
<h1>店舗売上実績</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="numerical_management">
      <h3>数値管理</h3>
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th class="col">月間予算</th>
            <td class="col"><%= @manegemants.first.budget %>円</td>
          </tr>
          <tr>
            <th class="col">月間売上</th>
            <td class="col"><%= @total_sales %>円</td>
          </tr>
          <tr>
            <th class="col"><%= @manegemants.first.result_date %>売上</th>
            <td class="col"><%= @manegemants.first.result %>円</td>
          </tr>
          <tr>
            <th class="col">日割予算</th>
            <td class="col"><%= @daily_budget %>円</td>
          </tr>
          <tr>
            <th class="col">達成率</th>
            <td class="col"><%= @daily_budget %>％</td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="search_form">
      <%= search_form_for @q do |f| %>
        <%= f.label :result_date, "表示期間選択" %>
        <div class="input-group">
          <%= f.date_select :result_date, { discard_day: true, include_blank: true }, { class: "form-control bootstrap-date" } %>
          <span class="input-group-btn"><%= f.submit 'Search', class: "btn btn-primary" %></span>
        </div>
      <% end %>
    </div>
    <div class="chart">
      <p>月間売上</p>
      <%= column_chart @chart_data, discrete: true, xtitle: "日付", ytitle: "売上(円)", width: "600px", height: "200px" %>
    </div>
  </div>

<div class="numerical_index">
  <h3>数値一覧</h3>
  <%= render @manegemants %>
</div>

</div>
