<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <strong class="content">タイトル:<%= link_to post.title, post %></strong>
  <span class="content">
    <%= "カテゴリー:#{post.field}" %>
  </span>
  <span class="content">
    <%= truncate(post.content, length: 50) do %>
      <p><%= link_to '続きを読む', post %></p>
    <% end %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前
    <% if current_user?(post.user) %>
      <%= link_to post_path(post), method: :delete do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </span>
  <span class="like" id="like_form_<%= post.id %>">
    <% if current_user.likes?(post) %>
      <%= render "posts/unlike", post: post %>
    <% else %>
      <%= render "posts/like", post: post %>
    <% end %>
  </span>
</li>