<% provide(:title, @post.title) %>
<div class="row">
  <div class="d-flex align-items-left mt-4 mb-4">
    <section class="user_info">
      <h3>
        <%= @post.user.name %>
        <%= @post.user.area %>
      </h3>
    </section>
  </div>
  <div class="card">
    <div class="card-header bg-info">
      <h3>タイトル：<%= @post.title %></h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        カテゴリ：<%= @post.field %><br />
        <%= @post.content %><br />
        <%= image_tag @post.picture.url if @post.picture? %>
      </p>
    </div>
  </div>
  <div class="comment_index">
      <h5>コメント</h5>
      <div id="comment_area">
        <ol class="comment">
          <%= render partial: 'comments/index', collection: @comments, as: :comment %>
        </ol>
      </div>
      <% if user_signed_in? %>
        <%= render 'comments/form', comment: @comment, post:@post %>
      <% end %>
    </div>
  </div>
</div>
